{# pages/404.twig #}
{% extends 'layouts/master.twig' %}

{% block content %}
<section class="aura-404">
  <div class="container">
    <h1>404</h1>
    <p>{% if locale.code == 'ar' %}عذراً، الصفحة غير موجودة.{% else %}Sorry, page not found.{% endif %}</p>
    <a class="btn btn-primary" href="{{ path('home') }}">{% if locale.code == 'ar' %}عودة للرئيسية{% else %}Back Home{% endif %}</a>
  </div>
</section>
{% endblock %}