{# components/home/features.twig #}
<section class="aura-features">
  <div class="container grid">
    <div class="feat"><span class="ic">{% icon 'outline:truck' %}</span><b>{{ t('theme.features.delivery') }}</b></div>
    <div class="feat"><span class="ic">{% icon 'outline:badge-check' %}</span><b>{{ t('theme.features.authentic') }}</b></div>
    <div class="feat"><span class="ic">{% icon 'outline:shield-check' %}</span><b>{{ t('theme.features.warranty') }}</b></div>
    <div class="feat"><span class="ic">{% icon 'outline:lock-closed' %}</span><b>{{ t('theme.features.secure') }}</b></div>
  </div>
</section>