{% set banners = fields.banners is iterable ? fields.banners : [] %}
<section class="rb-sq" aria-label="Square banners">
  <div class="rb-sq__grid">
    {% for b in banners %}
      {% set img = b['banners.image'] ?? b.image ?? '' %}
      {% set url = (b['banners.url'] and b['banners.url'].0 and b['banners.url'].0.url) ? b['banners.url'].0.url : (b.url ?? '#') %}
      {% set title = b['banners.title'] ?? b.title ?? '' %}
      {% set desc  = b['banners.description'] ?? b.description ?? '' %}
      <a class="rb-sq__item" href="{{ url }}">
        {% if img %}<img class="rb-sq__img" src="{{ img }}" alt="">{% endif %}
        {% if title or desc %}
          <div class="rb-sq__txt">
            {% if title %}<h5 class="rb-sq__title">{{ title }}</h5>{% endif %}
            {% if desc %}<p class="rb-sq__desc">{{ desc }}</p>{% endif %}
          </div>
        {% endif %}
      </a>
    {% else %}
      <div class="rb-sq__empty">Add images in component settings.</div>
    {% endfor %}
  </div>
</section>